<div>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="goToHome()">
        <mat-icon>home</mat-icon>
      </button>
      <span *ngIf="room.type=='room'">{{room.name}}</span>
      <span *ngIf="room.type=='private'">{{room.name}}</span>
    </mat-toolbar>
  </div>
<div class="chat-container">
  <mat-card class="main-card">
    <mat-list class="chat-list" #scrollMe>
      <mat-list-item class="padding0" *ngFor="let message of messages; let i = index" [ngClass]="[(message.action === undefined && message.from.id === user.id)? 'list-item-end': 'list-item-start']" >
        <!-- <img mat-list-avatar *ngIf="message.action === undefined && message.from.id !== user.id" [src]="message.from.avatar"> -->
        <p mat-line *ngIf="room.type=='room' && message.from.id !== user.id && messages[i-1] && messages[i-1].from.id != message.from.id">
           {{message.from.name}}
        </p>
        <div mat-line  [ngClass]="[(message.action === undefined && message.from.id === user.id)? 'chat-list-item': 'chat-list-item-1']" >
          <p mat-line style="margin: 10px;" *ngIf="message.action === undefined">
             {{message.content}}
          </p>
        </div>
        <!-- <p mat-line *ngIf="message.action === action.JOINED" class="chat-notification">
          <span> <b>{{message.from.name}}</b> joined to the conversation. </span>
        </p>
        <p mat-line *ngIf="message.action === action.RENAME" class="chat-notification">
          <span> <b>{{message.content.previousUsername}}</b> is now <b>{{message.content.username}}</b> </span>
        </p> -->
      </mat-list-item>
    </mat-list>
    <div class="chat-footer-container">
      <!-- <mat-icon>message</mat-icon> -->
      <mat-form-field class="chat-input">
        <input matInput 
               #inputMessage 
               maxlength="140" 
               placeholder="Type your message" 
               [(ngModel)]="messageContent" 
               (keyup.enter)="sendMessage(messageContent)">
        <mat-hint align="end">{{inputMessage.value.length}}/140</mat-hint>
      </mat-form-field>
    </div>
  </mat-card>
</div>