<div>
  <mat-toolbar color="primary">
    <button mat-icon-button>
      <mat-icon>people</mat-icon>
    </button>
    <span class="example-fill-remaining-space">People</span>
    <button mat-icon-button (click)="refresh()">
        <mat-icon> refresh</mat-icon>
      </button>
  </mat-toolbar>
</div>
<mat-card>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <mat-form-field class="example-full-width">
    <input matInput #inputMessage maxlength="140" placeholder="Search" [(ngModel)]="keyWord" (keyup)="search(keyWord)">
    <!-- <mat-hint align="end">{{inputMessage.value.length}}/140</mat-hint> -->
  </mat-form-field>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>User List</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let item of rs">
        <mat-icon matListIcon>person</mat-icon>
        <h4 matLine>{{item.name}}</h4>
        <p matLine class="demo-2"> Online </p>
        <button mat-raised-button mat-icon-button color="primary" *ngIf="item.click==true" (click)="addF(item)">
          <mat-icon>person_add</mat-icon> 
        </button>
        <button mat-raised-button mat-icon-button color="primary" *ngIf="item.click==false" disabled (click)="addF(item)">
          <mat-icon>person_add</mat-icon> 
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>