<h2 mat-dialog-title>  Out Group</h2>
<mat-dialog-content>
    <mat-list>
        <mat-list-item *ngFor="let item of users"  (click)="chat(item)"> 
            <mat-icon matListIcon>person</mat-icon>
            <h4 matLine>{{item.name}}</h4>
            <p matLine class="demo-2"> Online </p>  
            <button *ngIf="item.user_id == user.id" mat-raised-button color="primary">
                Kich
            </button>
            <button *ngIf="item.user_id != user.id" mat-raised-button color="primary">
                Add
            </button>
        </mat-list-item>
       </mat-list>
</mat-dialog-content>


<mat-dialog-actions  [attr.align]="'end'">
  <button mat-button mat-dialog-close color="secondary">Close</button>
  <button mat-raised-button color="primary" mat-dialog-close (click)="onSave()">Save</button>
</mat-dialog-actions>