<div>
  <mat-toolbar color="primary">
    <button mat-icon-button>
      <mat-icon>home</mat-icon>
    </button>
    <span>Home</span>
  </mat-toolbar>
</div>
<mat-progress-bar *ngIf="isLoding" mode="indeterminate"></mat-progress-bar>
<div>
  <mat-tab-group mat-stretch-tabs class="tab-body">
  
    <mat-tab label="History">
      <tcc-histories [histories]="histories"></tcc-histories>
    </mat-tab>
    <mat-tab label="People">
      <tcc-people [users]="users"></tcc-people>
    </mat-tab>
    <mat-tab label="Group">
      <tcc-group [rooms]="rooms"></tcc-group>
    </mat-tab>
  </mat-tab-group>
</div>
