<div>
    <mat-toolbar color="primary">
        <button mat-icon-button>
            <mat-icon>settings</mat-icon>
        </button>
        <span class="example-fill-remaining-space">profile</span>
        <button mat-raised-button color="primary"  (click)="logOut()" mat-icon-button>
                <mat-icon>settings_power</mat-icon>
            </button>
    </mat-toolbar>
</div>
<div>
    <div>
        <div style="display: flex;margin-top: 10px;">
            <div class="avata-centent">
                <div>
                    <span>
                        {{main.name[0]}}
                    </span>
                </div>
                <div>
                    <button mat-raised-button color="primary" mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>

            </div>
        </div>

        <div style="text-align: center;margin-top: 10px;">
            {{main.userName}}
        </div>
        <div style="text-align: center;">
            {{main.name}}
        </div>
    </div>
</div>